<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" href="..//home.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		<title>URL Shortner Project</title>
	</head>
	<body>
		<div class="container">
			<h1>URL Shrinker</h1>
			<div>
				
				<div class="ui-widget">
					<label for="url">URL:</label><br />
					<input id="shorturls">
					<ul id="short"></ul>
				</div>
                <script>
					$(document).ready(function () {
						$("#shorturls").autocomplete({
							source: async function(request, response) {
								let data = await fetch(`http://localhost:3000/search?term=${request.term}`)
									.then(results => results.json())
									.then(results => results.map(result => { 
										return { label: result.full, value: result.full,id: result._id };
									}));
								response(data);
							},
							minLength: 2,
							select: function(event, ui) {
								fetch(`http://localhost:3000/get/${ui.item.id}`)
									.then(result => result.json())
									.then(result => {
										$("#short").empty();
										$("#short").append(`<li>${result.short}</li>`);
										$("#short").append(`<li>${result.full}</li>`);
										$("#short").append(`<li>${result.clicks}</li>`);
									});
								
							}
						});
					});
				</script>
			</div>
	</body>
</html>